@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}
:root {
    --pc: #4BC3F0;
}
body {
    background-color: black;
    overflow: hidden;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    color: white;
    cursor: default;
}
.main-container {
    width: 100%;
    border: 8px solid transparent;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: calc(100vh - 71px) 55px;
    gap: 8px;
}
a{
    text-decoration: none;
    color: white;
    display: block;
}
button {
    color: white;
    font-family: inherit;
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
}

.pop-over{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid black;
    opacity: 0.8;
    box-shadow: 0 0 0 1000vw #000;
}

.tooltip-cont {
    position: relative;
}
.tooltip {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all 200ms ease-in 0s;
}
.tooltip span{
    background-color: rgba(85, 85, 85, 1);
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    width: fit-content;
    transform: translate(-50%, 0);
    text-wrap: nowrap;
}
.tooltip-cont:hover .tooltip {
    opacity: 1;
}
.tooltip-top {
    bottom: 120%;
    left: 50%;
}
.tooltip-bottom {
    top: 120%;
    left: 50%;
}